.DS_Store

.docusaurus
.cache-loader

node_modules

# Docusaurus generated folders
website/translated_docs/
website/build/
website/yarn.lock
website/package-lock.json
website/i18n/*
website/node_modules/

# Generated docs
docs/contributing.md